*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    margin: 0rem 6rem;
    background-color: beige;
    height: 100vh;
}
h1 {
    font-size: 45px;
    padding: .1em;
    flex-grow: 1;
    justify-content: flex-end;
}
nav{
    display: flex;
}
nav ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-evenly;
    align-items: center;
}
#picture {
    height: 2000px;
    background-color: brown;
}